<!DOCTYPE html>
<html>
  <head>
    <title>Bayes Hackathon</title>
    <link rel="stylesheet" href="/js/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
    <script data-main="js/main" src="js/libs/requirejs/require.js"></script>

  </head>
  <body>
    <div id="map"></div>
    <div id="main">
      <div id="button-overlay">
        <button class="btn btnDefault mapToggle private selected" data-key="marker:cluster_label-high"><img src="/images/clustericon.png" />Cluster 1 : Top Tier</button>
        <button class="btn btnDefault mapToggle state selected" data-key="marker:cluster_label-mid"><img src="/images/clustericon.png" />Cluster 2 : Middle Tier</button>
        <button class="btn btnDefault mapToggle low-income selected" data-key="marker:cluster_label-low"><img src="/images/clustericon.png" />Cluster 3 : Low Tier</button>
      </div>
      <div id="navigation">
        <form id="search-form">
          <ul class="search">
            <li><input id="search-input" type="text" value="94107" placeholder="94107" maxlength="5" /></li>
            <li><input type="image" src="/images/searchicon.png" /></li>
          </ul>
        </form>
        <ul class="tabs" role="tablist">
          <li class="active">
            <a class="tabs-toggle oldpeople" href="#oldpeople" role="tab" data-toggle="tab"></a>
          </li>
          <li>
            <a class="tabs-toggle house" href="#house" role="tab" data-toggle="tab"></a>
          </li>
          <li>
            <a class="tabs-toggle warning" href="#warning" role="tab" data-toggle="tab"></a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div id="content" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="oldpeople">
          <h5>There are currently <br /><b>~4,000,000</b><br />elderly people<br />in California.</h5>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="house">
          <ul class="checkboxlist">
            <% for (var key in labels) { %>
              <li class="checkbox">
                <label style="color: <%= labels[key].colors[labels[key].colors.length -1] %>">
                  <input type="checkbox" class="mapToggle" data-key="<%=labels[key].type %>:<%=key %>" data-colors="<%=JSON.stringify(labels[key].colors) %>" />
                  <%= labels[key].description %>
                </label>
            </li>
            <% } %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="warning">
          <a href="#" class="btn btnPrimary mapToggle" data-key="heatmap:toppop" data-colors='["rgba(0,0,0,0)","rgba(237,98,89,0.75)","rgba(141,44,38,0.75)"]' data-radius="50">High Senior Population</a>
          <a href="#" class="btn btnPrimary mapToggle" data-key="heatmap:toppop" data-colors='["rgba(0,0,0,0)","rgba(237,98,89,0.75)","rgba(141,44,38,0.75)"]' data-radius="50">Low Nursing Home Availability</a>
          <a href="#" class="btn btnPrimary mapToggle" data-key="heatmap:lowest_quality_nursing_homes" data-colors='["rgba(0,0,0,0)","rgba(237,98,89,0.75)","rgba(141,44,38,0.75)"]' data-radius="50">Low Quality Nursing Homes</a>
        </div>
        <div id="congress">
          <h3>Contact local representatives:</h3>
          <p class="name"></p>
          <p class="phone"></p>
          <a class="tweet btn btnDefault" href="https://twitter.com/intent/tweet?screen_name=" target="_blank">Send a Tweet</a>
      </div>
      </div>
    </div>
    <div id="footer">
      <ul class="filter">
        <li><a href="#">-20 Years</a></li>
        <li class="active"><a href="#" class="dateFilter mapToggle selected" data-key="heatmap:pop13">Now</a></li>
        <li><a href="#">+20 Years</a></li>
      </ul>
    </div>
  </body>
</html>
